.logo
{
    height: 120px;
    margin-left: 40px;
}

header
{
    background-image: url(download1.webp);
    border-bottom: 3px solid #ffbc00;
}

body
{
    margin: 0px;
}
.nav-item:hover
{
    background-color: green;
    border-radius: 50px;
    cursor: pointer;
}

#nav_bar 
{
    float: right;
    margin-right: 90px; 
    font-weight: bold;
    color: black;
}

#nav_bar li 
{
    display: inline-block;
    padding: 8px;
}

.link
{
    text-decoration: none;
    color: white;
}

.link:hover
{
    text-decoration: none; 
}

footer
{
    background: black;
    color: white;
}

.foot-extra
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.foot1
{
    text-align: center;
}

.foot2
{
    text-align: center;
}

.foot3
{
    text-align: center;
}

.foot4
{
    text-align: center;
}


*
{
    padding: 0px;
    margin: 0px;
}
main
{
    display: block;
}

article
{
    display: block;
}

.flex-columns .row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row
{
    justify-content: space-evenly;
}

.flex-columns .column
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .column .column-1, .flex-columns .column .column-2 
{
    height: 100%;
}

.flex-columns img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px
}

.bg-light 
{
    background: #f4f4f4;
    color: #000;
}

.flex-columns h2 
{
    font-size: 40px;
    font-weight: 100;
}

h2 
{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.flex-columns p 
{
    margin: 20px 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn-dark 
{
    color: #f4f4f4;
    background-color: #333;
}

.btn-main, .btn-light, .btn-dark 
{
    display: inline-block;
    padding: 0.8rem;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}

.flex-columns.flex-reverse .row 
{
    flex-direction: row-reverse;
}